@using System.Web.Helpers

<header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!-- Navigation -->
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- Brand -->
                            <a class="navbar-brand page-scroll sticky-logo" href="@Url.Action("Index","Home")">
                                <img src="~/img/calid-images/Calid Infra - Final 2-01.png" style="height:50px;" />
                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                         

                            <ul class="nav navbar-nav navbar-right">
                                <li class="@Html.IsActive("Home","Index")">
                                    <a href="@Url.Action("Index","Home")" title="Home">Home</a>
                                </li>

                                <li class="@Html.IsActive("Home","About")">
                                    <a href="@Url.Action("About","Home")" title="About">About Us</a>
                                </li>
                                <li class="@Html.IsActive("Home","Consulting")">
                                    <a href="@Url.Action("Consulting","Home")" title="Professional Consulting">Consulting</a>
                                </li>
                                <li class="@Html.IsActive("Home","Technology")">
                                    <a href="@Url.Action("Technology","Home")" title="Technology">Technology</a>
                                </li>
                                <li class="@Html.IsActive("Home","Services")">
                                    <a href="@Url.Action("Services","Home")" title="Services">Services</a>
                                </li>

                                <li class="@Html.IsActive("Home","Contact")">
                                    <a href="@Url.Action("Contact","Home")" title="Contact">Contact Us</a>
                                </li>

                            </ul>
                        </div>
                        <!-- navbar-collapse -->
                    </nav>
                    <!-- END: Navigation -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
</header>
