<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    a {
        color: #444;
    }

    h4 {
        font-weight: 600;
    }
</style>
<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <a class="navbar-brand page-scroll sticky-logo" href="@Url.Action("Index","Home")">
                                    <img src="~/img/calid-images/Calid Infra - Final 2-01.png"  style="height:50px;margin-top:-20px;margin-left:-18px;" />
                                </a>
                            </div>
                            <br />
                            <p style="margin-top:10px;text-align:left;line-height:28px;">
                                Calid Technologies is powered by the veracity and integrity of the known and dispelling the fear of the unknown.
                            </p>                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">

                            <h4 style="margin-left:35px;margin-top:-5px;">Browse</h4>

                            <ul style="line-height:28px;list-style:none">
                                <li><a href="@Url.Action("Index","Home")">Home <i class="fa fa-angle-right"></i></a></li>
                                <li><a href="@Url.Action("About","Home")">About Us <i class="fa fa-angle-right"></i></a></li>
                                <li>
                                    <a href="@Url.Action("Consulting","Home")">Consulting <i class="fa fa-angle-right"></i></a>
                                </li>
                                <li><a href="@Url.Action("Technology","Home")"> Technology <i class="fa fa-angle-right"></i></a></li>
                                <li><a href="@Url.Action("Services","Home")">Services <i class="fa fa-angle-right"></i></a></li>

                                <li><a href="@Url.Action("Contact","Home")">Contact Us <i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>information</h4>
                            <p style="margin-top:-2px">
                            <p>
                                <span>
                                    Plat No. 52,<br />
                                    Leela Raj B Co-op. Housing Soc. Ltd. <br />
                                    Ghokhale Road, Dahanukar Wadi,<br />
                                    Kandivali West, Mumbai-400067
                                </span>
                            </p>
                            </p>
                            <div class="footer-contacts">
                                <p><span>Email:</span><a href="mailto:info@calidtech.com"> info@calidtech.com</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Reach us</h4>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.6715835107675!2d72.83540251490327!3d19.20954148701145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6cfbb5c4299%3A0xec59b24dc8fab2c7!2sLeelaraj+-+B+CHSL!5e0!3m2!1sen!2sin!4v1554532794339!5m2!1sen!2sin" height="200" frameborder="0" style="border:0;width:100%" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright text-center">
                        <p style="text-align:unset !important">
                            &copy; Copyright 2019 <strong>Calid Technologies</strong>. All Rights Reserved
                        </p>
                    </div>
                    <div class="credits">
                        Powered by <a href="https://supervisionhost.com/about-us/" target="_blank" style="color:white!important"><strong>SUPER</strong><strong style="color:#33A5FF !important">VISION</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
